/* .eventsSection {
    padding: 2rem;
    background-color: #f5f5f5;
}

.eventCard {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.eventCard img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
} */
